<p style="color: green"><%= notice %></p>


<div>
  <%= link_to "Edit this syrup", edit_syrup_path %><br>
  <%= link_to "Back to syrups", syrups_path %><br>

  <%= link_to "Delete", syrup_path(@syrup), data: { turbo_method: :delete, turbo_confirm: "Are you shure ?"},
    class: "btn btn-outline-danger" %>
</div>

